## ============================================================
## Import
## ============================================================
## import(ggplot2)
## import(biovizBase)
importFrom(gridExtra, grid.arrange)
## GenomicRanges
## IRanges
importFrom(IRanges, IRanges,  disjointBins,
           matchMatrix, findOverlaps, subsetByOverlaps,
           "elementMetadata", "elementMetadata<-",
           start, width, end,  resize, 
           "values", "values<-",
           ranges, "ranges<-", 
           isTRUEorFALSE, coverage, slice,
           elementLengths,
           cbind, rbind,
           ## viewWhichMins, viewWhichMaxs,
           ## viewMins, viewMaxs, viewSums, viewMeans,
           ## runValue, runLength,
           reduce, punion, pgap, gaps)

importMethodsFrom(IRanges,  split, 
                  unlist,setdiff,
                  Reduce, range,
                  as.data.frame,
                  length,
                  "[","[<-","[[", "[[<-","$",
                  "%in%", show, 
                  lapply, sapply)

importClassesFrom(IRanges)

## ## GenomicRanges
importFrom(GenomicRanges, "seqnames<-","strand<-",
           seqlevels, "seqlevels<-",
           GRanges, GRangesList, Seqinfo, seqlengths, "seqlengths<-")
importMethodsFrom(GenomicRanges, ranges, "ranges<-",
                  start, end, width, "start<-", "end<-", "width<-",
                  seqnames, strand, seqinfo, show, 
                   "elementMetadata<-", elementMetadata,
                  as.data.frame, keepSeqlevels, renameSeqlevels)

importClassesFrom(GenomicRanges, GRanges)

##
## ## ## Rsamtools
importFrom(Rsamtools, ScanBamParam, scanBam, scanBamHeader,
           scanBamFlag,
           PileupFiles, PileupParam ,
           readBamGappedAlignments)
importMethodsFrom(Rsamtools, applyPileups)
importClassesFrom(Rsamtools, BamFile)

## ## ## BSgenome
importClassesFrom(BSgenome, BSgenome)
## importMethodsFrom(BSgenome, getSeq)

## ## ## rtracklayer
## importClassesFrom(rtracklayer, BrowserView)
## importFrom(rtracklayer, browserSession, genome, "genome<-",
##            ucscTableQuery,tableNames, "tableName<-", GenomicData, getTable,
##            "track<-", GRangesForUCSCGenome, browserView,
##            ucscGenomes)

## ## ## GenomicFeatures
importClassesFrom(GenomicFeatures,TranscriptDb)
## importFrom(GenomicFeatures,
##            transcriptsByOverlaps,
##            exonsBy,
##            cdsBy)



## ============================================================
## Export
## ============================================================
exportMethods(qplot, rescale)
export(tracks, plotOverview, plotSingleChrom, geom_hotregion,
       plotMismatchSum, plotGrandLinear, plotFragLength)
