## ============================================================
## Import
## ============================================================
import(biovizBase)
## GenomicRanges
## IRanges
importFrom(IRanges, IRanges,  disjointBins,
           matchMatrix, findOverlaps, subsetByOverlaps,
           "elementMetadata", "elementMetadata<-",
           start, width, end,  resize, 
           "values", "values<-",
           ranges, "ranges<-", 
           isTRUEorFALSE, coverage, slice,
           elementLengths,
           cbind, rbind,
           ## viewWhichMins, viewWhichMaxs,
           ## viewMins, viewMaxs, viewSums, viewMeans,
           ## runValue, runLength,
           reduce, punion, pgap, gaps)

importMethodsFrom(IRanges,  split, 
                  unlist,setdiff,
                  Reduce,
                  as.data.frame,
                  length,
                  "[","[<-","[[", "[[<-","$",
                  "%in%", show, 
                  lapply, sapply)

importClassesFrom(IRanges)

## ## GenomicRanges
importFrom(GenomicRanges, "seqnames<-","strand<-", "seqlevels<-",
           GRanges, GRangesList, Seqinfo, seqlengths, "seqlengths<-")
importMethodsFrom(GenomicRanges, ranges, "ranges<-",
                  start, end, width, "start<-", "end<-", "width<-",
                  seqnames, strand, seqinfo, show, 
                   "elementMetadata<-", elementMetadata,
                  as.data.frame)

importClassesFrom(GenomicRanges, GRanges)


## ============================================================
## Export
## ============================================================
exportMethods(qplot)
export(tracks, plotOverview, plotSingleChrom, geom_hotregion)
