<div class="row">
  <div class="column grid_9">
    <ul id="navbar">
      <li><a href="{{ site.url }}/">Home</a></li>
      <!-- <li><a href="{{ site.url }}/blog/">Blog</a></li> -->
      <li><a href="{{ site.url }}/tutorial.md">Tutorial</a></li>
      <li><a href="{{ site.url }}/support.md">Support</a></li>
      <li><a href="{{ site.url }}/archive.html">Case Study</a></li>
      <li><a href="{{ site.url }}/about.md">About</a></li>
      <!-- <li><a href="/projects/">Projects</a></li> -->
      <!-- <li><a href="{{ site.url }}/portfolio/">Portfolio</a></li> -->
    </ul>
  </div>
</div>
