<div class="row">
  <div class="column grid_9">
    <ul id="navbar">
      <li><a href="{{ site.url }}/">Home</a></li>
      <!-- <li><a href="{{ site.url }}/blog/">Blog</a></li> -->
      <li><a href="{{ site.url }}/autoplot/">Autoplot</a></li>
      <li><a href="{{ site.url }}/geom/">Geom</a></li>
      <li><a href="{{ site.url }}/stat/">Stat</a></li>
      <li><a href="{{ site.url }}/about/">About</a></li>
      <!-- <li><a href="/projects/">Projects</a></li> -->
      <!-- <li><a href="{{ site.url }}/portfolio/">Portfolio</a></li> -->
    </ul>
  </div>
</div>
