/* @override http://localhost:4000/css/styles.css
	http://andrew/css/styles.css */

/*

Design notes and specs
======================

Font families
-------------

*Serif*  
Calluna, Cambria, Georgia, "Times New Roman", serif

*Sans Serif*  
Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif

*Slab*  
"Museo Slab", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif

*Monospace*  
Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New

Colors
------


*/

/* @group Fonts */

@font-face {
	font-family: 'Calluna';
	src: url('/css/fonts/Calluna-Regular.eot');
	src: local('Calluna Regular'), local('Calluna-Regular'), url('/css/fonts/Calluna-Regular.otf') format('opentype');
}
/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */

@font-face {
	font-family: 'Museo Sans';
	src: url('/css/fonts/MuseoSans-500.eot');
	src: local('Museo Sans 500'), url('/css/fonts/MuseoSans_500.otf') format('opentype');
}

@font-face {
	font-family: 'Museo Slab';
	src: url('/css/fonts/MuseoSlab-500.eot');
	src: local('Museo Slab 500'), url('/css/fonts/Museo_Slab_500.otf') format('opentype');
}

/* @end */

/* @group Resets */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}

/* @end */

/* @group 1kb Grid */

/* ================ */
/* = The 1Kb Grid = */     /* 9 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/* @end */

.faux {
	margin: 0 20px 0 0 ;
	overflow: hidden;
	float: left;
	display: block;
}

/* @group Globals */

body {
	background: #ffffff none;
	text-align: center;
	font: normal 100%/1.4em Calluna, Cambria, Georgia, "Times New Roman", serif;
	color: #444;
}

a {
	color: #a00000;
	text-decoration: none;
}

a:hover, a:active {
	color: #495cd6;
}

h1, h2, h3, h4, h5, h6 {
	font: bold 100%/1.5em "Museo Slab", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
	line-height: 1.2em;
	padding-bottom: .5em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: .9em;
}

p, ol, ul, dl {
	/*ol, ul, dl*/
    font-size: 1.2em;
	line-height: 1.5em;
	padding-bottom: .8em;
}

li > p {
	font-size: 100%;
}

table {
	font-size: 1.2em;
	line-height: 1.5em;
	width: 100%;
	margin-bottom: .8em;
}

tr {
	border: 1px solid #999999;
}

th {
	font-weight: bold;
	font-family: "Museo Sans", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	padding: .2em;
	border-bottom: 2px solid #999999;
}

td {
	padding: .2em; /* Same as `th` */
}

ul, ol {
	padding-left: 1.1em;
}

dt {
	font-weight: bold;
	font-family: "Museo Sans", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

sup, sub {
	font-size: .7em;
	line-height: 1em;
}

small {
	font-size: .7em;
}

abbr, acronym {
	line-height: 1em;
	border-bottom: 1px dotted #999999;
}

cite {
	font-style: italic;
}

blockquote {
	margin: 0 3em 1em;
	padding: .8em .8em 0; /* Make the same as the padding under the universal `p` to compensate for the space after the paragraph */
	background-color: #f8f8f8;
	font-family: "Museo Slab", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: .9em;
	border: 1px solid silver;
}

code {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
	font-size: .8em;
	background-color: #f8f8f8;
	padding: .3em;
}

pre {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
	margin-bottom: .8em; /* The same as `p` */
	line-height: 1.4em;
	font-size: 1em;
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
 /* width: 99%; */
	word-wrap: break-word;
	padding: .8em .8em 0;
}

.highlight { 
	background-color: #f8f8f8; 
	border: 1px solid silver; 
	padding-left: 5px; 
	margin-bottom: 1.2em; 
	overflow-x: auto; 
}

.confirmation {
	padding: 8px 8px 8px 28px;
	margin-bottom: .8em;
	font-family: Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: .9em;
}

.confirmation.accept {
	background: #e5f7e3 url(images/check.gif) no-repeat 7px 10px;
	border: 1px solid #c5e1c8;
	color: #005e20;
}

.confirmation.error {
	background: #ffebeb url(images/x.gif) no-repeat 7px 10px;
	border: 1px solid #f5c1c2;
	color: #9e0b0f;
}

.confirmation.warning {
	background: #fffeeb url(images/warning.gif) no-repeat 7px 10px;
	border: 1px solid #e6e5d8;
	color: #555;
}

.confirmation.question {
	background: #e8f8fe url(images/question.gif) no-repeat 7px 10px;
	border: 1px solid #cfdfe5;
	color: #004a80;
}

.right {
	float: right;
	margin: 0 0 10px 20px;
}

.left {
	float: left;
	padding: 0;
	margin: 0 20px 20px 0;
}

.full {
	float: left;
	width: 100%;
}

/* @group Forms */

fieldset {
	border: 1px solid #999999;
	padding: 1em 1em 0;
}

legend {
	font: 1.2em/1.4em "Museo Sans", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #999999;
}

.input, .password, textarea, select {
	font: .9em/1.4em "Museo Sans", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #666666;
}

textarea {
	padding: .2em;
}

/* @end */

/* @end */

/* @group Header */

#header {
	width: 100%;
	height: 180px;
	background: url(images/square.jpg) repeat 0 30px;
	text-align: right;
	/*text-rendering: optimizeLegibility;*/
	position: relative;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
	overflow: hidden;
}

#header h1 {
	padding-top: .5em;
	font-size: 3.2em;
	line-height: 1.2em;
}

#header h2 {
	color: #fefefe;
	font-family: Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 1.3em;
	font-weight: normal;
}

#header a {
	color: #fff;
}

#header a:hover {
	color: #495cd6;
}

/* @end */

/* @group Navbar */

#navbar-wrapper {
	width: 100%;
	background: transparent url(images/black-30.png);
	background: rgba(0,0,0,0.3) none;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px 0;
	border-bottom: 10px solid #000;
}

#navbar {
	list-style: none;
	text-align: left;
	font-family: Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 1.2em;
	padding: .3em 0 0;
	line-height: 1.3em;
	padding-left: 0;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}

#navbar li {
	display: inline;
	margin-right: .7em;
	color: #999999;
}

/* @end */

#wrapper {
	width: 720px;
	margin: 50px auto;
	text-align: left;
}

/* @group Front page */

#frontbio {
	font-size: 1.5em;
	padding-bottom: 2em;
}

#loading {
	padding-top: 6em;
	text-align: center;
	font: normal .6em/1em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-transform: uppercase;
}

#loading p {
	padding: 0;
}

#twitter ul {
	list-style: none;
	padding: 0;
}

#twitter li {
	padding-bottom: 1em;
}

.twitter_timestamp {
	font: normal .6em/1em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	display: block;
}

/* @end */

/* @group Blog posts and static pages */

.entry {
	margin-bottom: 2em;
}

.post-meta {
	padding-top: .4em;
	text-align: left;
}

.post-meta .byline {
	color: #444;
}

.post-meta p {
	font: normal .9em/1.4em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #999999;
}

.archive-link {
	font: bold 1.2em/1.5em "Museo Slab", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.family {
	padding: 10px 0;
	margin-bottom: .8em;
	float: right;
	width: 100%;
}

.family img {
	margin: 0 8px 0 9px;
}

/* @end */

/* @group Archive and tag pages */

.top {
	color: #999;
}

.top :hover {
	color: #495cd6;
}

#archive {
	margin: 0 10px;
	width: 100%;
}

#archive h2 {
	padding-bottom: 0;
}

#archive h3 {
	clear: both;
	padding-top: 1em;
}

#archive ul {
	padding: 0;
	list-style: none;
}

#tag-list {
	font: normal .9em/1.7em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	list-style: none;
	padding: 0;
}

#tag-list li {
	padding-right: .7em;
	display: inline;
}

.comment-archive {
	font-family: Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: .6em;
	padding-left: 1em;
}

/* @end */

/* @group Footnotes */

.footnotes {
	font-size: .7em;
	color: #999999;
}

.footnotes p {
	padding-bottom: 0;
}

.footnotes li {
	padding-top: 1.2em;
}

.footnotes ol {
	padding-left: 1em;
}

/* @end */

/* @group Portfolio */

.port-thumb {
	width: 200px;
	height: 200px;
	margin: 10px;
	padding: 10px;
	background-color: lightgrey;
}

.project-meta {
	width: 200px;
	padding: 10px;
	background: transparent url(images/black-10.png);
	background: rgba(0,0,0,0.1) none;
}

.project-meta h3 {
	font-size: 1.5em;
}

.project-meta h4 {
	padding-top: .4em;
}

.project-meta ul {
	font: normal 1em/1.5em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.project-meta li p {
	font-size: 1em;
	padding-bottom: 0;
}

.port-breadcrumb {
	font: normal .7em/1em Museo Slab, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: right;
}

.project-desc {
	margin-top: 20px;
}

/* @group Captify */

.caption-top, .caption-bottom {
	color: #ffffff;
	padding: 20px;
	font-size: 15px;
	line-height: 18px;
	font-family: Museo Slab, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;	
	cursor: default;
	border-width: 0; /* Needs some set border-width for jQuery in IE, otherwise it throws an error */
	background: #000;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}

.caption a, .caption a {
	border: 0 none;
	text-decoration: none;
	background: #000000;
	padding: 0.3em;
}
.caption a:hover, .caption a:hover {
	background: #202020;
}
.caption-wrapper {
	float: left;
}
br.c { clear: both; }

/* @end */

/* @end */

/* @group Footer */

#footer-wrapper {
	width: 100%;
	background: url(images/square.jpg) repeat 0 -20px;
	text-align: right;
	overflow: hidden;
	border-top: 10px solid #000;
}

#footer-inner-wrapper {
	width: 100%;
	background: transparent url(images/black-30.png);
	background: rgba(0,0,0,0.3) none;
	padding: 0;
}

#footer {
	font: normal .8em/1.4em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	/*text-rendering: optimizeLegibility;*/
	background: transparent url(images/black-30.png);
	background: rgba(0,0,0,0.3) none;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
	text-align: right;
	color: #999999;
	padding: 1em 0;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #495cd6;
}

#footer ul {
	list-style: none;
	width: 300px; /* Four columns */
	text-align: left;
	padding: 0;
}

#footer li {
	display: block;
	float: left;
	width: 150px; /* Two columns*/
}

#footer h3 {
	font: 1.5em/1.2em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;;
	text-align: right;
}

#footer p {
	padding-bottom: 0;
}

#print-message {
	display: none;
}

/* @end */

/* @group Disqus comments */

.dsq-like-activity {
	font: normal .6em/1em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #888888;
}

.dsq-commenter-name {
	font: normal 1em/1em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.dsq-comment-text {
	font: .9em/1.4em Calluna, Cambria, Georgia, "Times New Roman", serif;
}

.dsq-comment-text p {
	font: 1em/1.4em Calluna, Cambria, Georgia, "Times New Roman", serif;
	padding-bottom: 0;
}

.dsq-comment-text pre {
	font-size: .8em;
	line-height: 1.1em;
	padding: 0;
}

.dsq-comment-text code {
	font-size: .9em;
}

.dsq-comment-footer {
	font: normal .6em/1.4em Museo Sans, Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

.dsq-footer {
	font-size: .6em;
}

.dsq-brlink {
	display: none;
}

/* @end */