<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="{{ page.excerpt|descriptionify }}" />
		<meta name="author" content="Tengfei Yin" />
		<title>{{ page.title }} | ggbio</title>
		<link rel="icon" type="image/vnd.microsoft.icon" href="{{ site.url }}/favicon.ico" />
		<link rel="icon" type="image/png" href="{{ site.url }}/favicon.png" />
		<link rel="apple-touch-icon" href="{{ site.url }}/css/images/apple-touch-icon.png" />
		<!-- <link rel="alternate" type="application/atom+xml" title="Blog Posts" href="http://feeds.andrewheiss.com/AndrewHeiss" /> -->
		<!-- <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" /> -->
		<!-- <link rel="openid2.local_id" href="http://www.google.com/profiles/andrewheiss" /> -->
		<link rel="stylesheet" href="{{ site.url }}/css/all.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{ site.url }}/css/print.css" type="text/css" media="print" />
		<!--[if lte IE 6]>
		<link href="/css/ie6fix.css" rel="stylesheet" type="text/css" media="screen" />
		<![endif]-->
		<link href="{{ site.url }}/favicon.ico" rel="icon" type="image/x-icon" />
	</head>
	<body>
		<div id="header">
			{% include header.html %}
			<div id="navbar-wrapper">
				{% include nav.html %}
			</div>
		</div>
		<div id="wrapper">
			{{ content }}
		</div>
		{% include footer.html %}
		<script src="{{ site.url }}/script/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- <script src="/script/lazyload.min.js" type="text/javascript" charset="utf-8"></script> -->
		<script src="{{ site.url }}/script/captify.tiny.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			$(function() {
				$('img.captify').captify({});
				      
			    // $("img").lazyload({
			    //    placeholder : "{{ site.url }}/css/images/white.gif",
			    //    effect      : "fadeIn"
			    // });
			});
		</script>
		{% if page.categories and page.categories contains 'blog' %}
		<script src="{{ site.url }}/script/disqus.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function() {
			  $('#disqus_thread').disqus({
			    domain:     "andrewheisscom",
				url: 		'http://www.andrewheiss.com{{ page.url }}',
			    title:      document.title,
			    developer:  window.location.hostname == "localhost" ? 1 : 0,
			    show_count: true,
			    iframe_css: "http://www.andrewheiss.com/css/disqus-iframe.css",
			  });
			});
	    </script>
		{% endif %}
		{% if page.title == 'Archive' or page.title == 'Blog' %}
			<script src="{{ site.url }}/script/disqus.min.js" type="text/javascript"></script>
			<script type="text/javascript">				
				$(document).ready(function() {
					// $.disqusLinks('andrewheisscom');
					$("a.disqus-comment-count").disqusLink("andrewheisscom");
				});
		    </script>
		{% endif %}
		{% include google_analytics.html %}
	</body>
</html>
